[package]
name = "bamq"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.2.6", features = ["derive"] }
rust-htslib = "*"
log = "0.4.0"
env_logger = "0.8.4"
checksums = "0.9.1"

[dev-dependencies]
ctor = "*"
